{:paths   ["src" "resources"]
 :version "1.0.1"
 :deps    {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           cheshire/cheshire                   {:mvn/version "5.11.0"}
           org.clojure/tools.logging           {:mvn/version "1.2.4"}
           dev.weavejester/medley              {:mvn/version "1.7.0"}
           http-kit/http-kit                   {:mvn/version "2.7.0"}
           metosin/malli                       {:mvn/version "0.9.2"}
           org.clojure/core.async              {:mvn/version "1.6.673"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps  {org.clojure/clojure {:mvn/version "1.11.1"}}}
           
           :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.4"
                                                               :git/sha "76b78fe"}}
                   :ns-default build}
           
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.1"}}
                    :exec-fn    deps-deploy.deps-deploy/deploy
                    :exec-args  {:installer :remote
                                 :artifact  "target/dobby.jar"
                                 :pom-file  "target/classes/META-INF/maven/com.github.brianium/dobby/pom.xml"}}}}
